<div class="background-cart">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <div class="section">
                    <div class="header-cart">
                        <h2 class="text-center mx-auto">Conditions générales de vente</h2>
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="card-no-product mb-4">
                        <div class="border-circle-info text-center mt-3">
                            <p class="info-font">!</p>
                        </div>
                        <div class="p-3">
                            <p class="pb-1">Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du site LeVideGrenier l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
                            <h4 class="font-weight-bold">Objets et opposabilité des CGV</h4>
                            <p class="pb-1">Le Site internet de LeVideGrenier a pour objet de présenter les Œuvres des artistes aux utilisateurs du site (potentiels « Acheteurs »), et leur donne la possibilité
                                de les découvrir. Or la possibilité d'achat sur le site LeVideGrenier est, et restera, en phase de test. <br>
                                En conclusion, l'étape de paiements n'est par conséquent pas possible, ce qui implique une impossibilité de livraisons et de possession des oeuvres aux utilisateurs.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

