<div class="background-cart">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <div class="section">
                    <div class="header-cart">
                        <h2 class="text-center mx-auto">Mentions légales</h2>
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="card-no-product mb-4">
                        <div class="border-circle-info text-center mt-3">
                            <p class="info-font">!</p>
                        </div>
                        <div class="p-3">
                            <p class="pb-1">Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du site LeVideGrenier l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
                            <h4 class="font-weight-bold">Edition du site</h4>
                            <p class="pb-1">Le site LeVideGrenier est édité par Mr. Rouet-Alvaro Allan et Mr. Flipo Alexis.</p>
                            <h4 class="font-weight-bold">Hébergeur</h4>
                            <p class="pb-1">Le site LeVideGrenier est hébergé par la société Heroku.</p>
                            <h4 class="font-weight-bold">Propriété intellectuelle</h4>
                            <p class="pb-1">LeVideGrenier est propriétaire exclusif de tous les droits de propriété intellectuelle portant tant
                                sur le développement du Site ainsi que sur son contenu, sauf mention expresse contraire. <br>
                                Le Site, les marques, les dessins et les modèles, les images, les textes, les photos, les logos,
                                les chartes graphiques, les logiciels et programmes, les moteurs de recherche, les bases de
                                données, les sons, les vidéos, les noms de domaines, design et tout autre contenu disponible
                                sur le Site, sans que cette liste soit exhaustive, sont la propriété exclusive de LeVideGrenier et
                                sont protégés par les dispositions du droit d’auteur, du droit des marques, du droit des
                                brevets et de tout autre droit de propriété intellectuelle ou industrielle en vigueur.
                                L’Utilisateur doit solliciter l’autorisation préalable de LeVideGrenier pour toute reproduction,
                                publication, copie des différents contenus présents sur le Site. <br>
                                Toute reproduction, partielle ou totale, par quelque procédé que ce soit, du contenu du Site
                                sans l’autorisation préalable de LeVideGrenier, serait constitutive d’une contrefaçon au sens de
                                l’article L.335-2 et suivants du Code de la Propriété Intellectuelle.</p>
                            <h4 class="font-weight-bold">Données personnelles</h4>
                            <p class="pb-1">Les données personnelles de l’Utilisateur sont collectées et conservées par LeVideGrenier pour
                                permettre l’exécution des présentes. <br>
                                En application la Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux
                                libertés individuelles l’Utilisateur dispose d’un droit d’accès, de modification, de rectification
                                et de suppression des données à caractère personnel le concernant traitées via le Site, ainsi
                                que du droit de s’opposer à la communication de ces données à des tiers pour de justes
                                motifs en adressant une demande à l’adresse suivante : allan.rouet@gmail.com. <br>
                                LeVideGrenier se réserve le droit de conserver certaines données afin de justifier, le cas
                                échéant de la parfaite exécution de ses obligations contractuelles ou légales. Les données
                                ainsi conservées seront limitées à ce qui est strictement nécessaire à l’exploitation du
                                service. <br>
                                LeVideGrenier s’engage à mettre toutes les mesures en place permettant au mieux de protéger
                                la confidentialité des informations fournies par l’Utilisateur.</p>
                            <h4 class="font-weight-bold">Cookies</h4>
                            <p class="pb-1">En acceptant les présentes CGU, l’Utilisateur reconnait que lors de sa navigation sur LeVideGrenier,
                                un Cookie peut s’installer automatiquement sur son navigateur. <br>
                                L’Utilisateur accepte l’utilisation des Cookies lors de sa navigation sur LeVideGrenier, à défaut de
                                quoi certaines fonctionnalités du site pourraient lui être refusées. <br>
                                Ces Cookies ont pour objet de permettre une navigation plus rapide et plus efficace de
                                l’Utilisateur lors de ses différentes connexions sur LeVideGrenier. <br>
                                L’Utilisateur peut, s’il le souhaite, désactiver les Cookies par l’intermédiaire des paramètres
                                du navigateur utilisé afin d’accéder à LeVideGrenier.</p>
                            <h4 class="font-weight-bold">Responsabilité de LeVideGrenier</h4>
                            <p class="pb-1">Dans sa relation avec l’Utilisateur, LeVideGrenier ne saurait être tenu responsable : <br>
                                <ul>
                                    <li>
                                        d’un non fonctionnement ou d’une impossibilité d’accès, ou de mauvaises conditions d’utilisation du Site ;
                                    </li>
                                    <li>
                                        de toute perte de données, de temps, d’opportunité et/ou de tout autre dommage indirect lié à l’utilisation du Site.
                                    </li>
                                </ul>
                            </p>
                            <h4 class="font-weight-bold">Intégralité du contrat</h4>
                            <p class="pb-1">Ces CGU constituent l’intégralité des termes et conditions convenus entre LeVideGrenier et
                                l’Utilisateur et remplacent tout accord antérieur, écrit ou oral, se rapportant à l’objet des
                                CGU. <br>
                                Tous les termes et conditions supplémentaires ou différents relatifs à l’objet des CGU et
                                figurant dans toute communication écrite ou orale adressée à LeVideGrenier seront nuls et
                                inopposables.</p>
                            <h4 class="font-weight-bold">Divisibilité</h4>
                            <p class="pb-1">Si, pour quelque raison et dans quelque mesure que ce soit, une stipulation des présentes
                                CGU devait être jugée nulle ou inopposable, cette nullité ou inopposabilité ne pourra
                                affecter la validité et l’opposabilité des autres clauses des p</p>
                            <h4 class="font-weight-bold">Loi applicable</h4>
                            <p class="pb-1">Les présentes CGU sont régies par la loi française. <br>
                                Il en est ainsi pour les règles de fond et les règles de forme et ce nonobstant les lieux
                                d’exécution des obligations issues de ces CGU.</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

