<div class="div-who-img d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="mx-auto col-md-10">
            <div class="cadre-dark">
                <h2 class="p-0  text-center m-0">À PROPOS DE NOUS</h2>
                
            </div>
        </div>
    </div>
</div>



<div class="div-home-who-sec">
    <div class="container pb-5">
        <h4 class="pt-5 pb-4">L'équipe derrière Le Vide Grenier</h4>
        <div class="d-flex justify-content-around align-items-between">
            <div>
                <div class="d-flex justify-content-center">
                    <%= image_tag 'allan', class:"img-who mx-auto"%>
                    <a href="https://www.linkedin.com/in/allan-rouet-alvaro/" target="_blank" rel="noopener noreferrer" class="font24 pt-0 mb-0 pb-0 mt-0"><i class="fab fa-linkedin"></i></a>
                </div>
                <h4 class="font-weight-bold mb-0">Allan Rouet-Alvaro</h4>
                <p class="gold pt-0 mb-0 pb-0">Développeur web full stack</p>
            </div>

            <div>
                <div class="d-flex justif-content-center">
                    <%= image_tag 'allan', class:"img-who mx-auto"%>
                    <a href="https://www.linkedin.com/in/alexis-flipo-930b8b1aa/" target="_blank" rel="noopener noreferrer" class="font24 pt-0 mb-0 pb-0 mt-0"><i class="fab fa-linkedin"></i></a>
                </div>
                <h4 class="font-weight-bold mb-0">Alexis Flipo</h4>
                <p class="gold pt-0 mb-0 pb-0">Développeur web full stack</p>
            </div>
        </div>
        <div>
            <p class="px-5 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas deleniti atque molestiae officiis neque expedita ab animi placeat! Veniam ex nemo expedita iure harum quibusdam pariatur autem possimus! Harum, recusandae?</p>
        </div>
    </div>
</div>