.button-product {
  font-size: 14px;
  font-weight: bold;
  color: rgb(27, 27, 27);

  &:hover {
    color: rgb(27, 27, 27);
    border-bottom: 1px solid rgb(27, 27, 27);
    text-decoration: none;
  }
}

.button-heart {
  border: none;
  padding: 0;
  background: none;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}

.btn-heart-index {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  border: none;
  padding: 0;
  background: #EFEFEF;
  font-size: 16px;
  border-radius: 50%;
  color: black;
  transition: 0.5s color ease;
  transition: 0.5s background ease;

  &:hover {
    background: #d5a870;
    color: white;
  }

  &:focus {
    outline: none;
    background: #d5a870;
    color: white;
  }
}

.button-add {
  margin-top: 50px;
  position: absolute;
  position: fixed;
  right: 50px;
  border: 1px solid rgb(27, 27, 27);
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  color: rgb(27, 27, 27);

  &:hover {
    color: rgb(27, 27, 27);
    text-decoration: none;
  }
}

.button-delete {

  border: 1px solid rgb(27, 27, 27);
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  color: rgb(27, 27, 27);

  &:hover {
    color: rgb(27, 27, 27);
    text-decoration: none;
  }
}

.button-cart {
  width: 100%;
  padding: 15px 25px;
  border-radius: 3px;
  text-decoration: none;
  background: #d5a870;
  color: white;
  border: 1px solid transparent;
  transition: 0.5s background ease;

  &:hover {
    background: #d29961;
    color: white;
  }
}

.button-search {
  padding: 15px 25px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  background: transparent;
  border: 1px solid white;
  transition: 0.5s color ease;
  transition: 0.5s border ease;
  text-decoration: none;

  &:hover {
    outline: none;
    color: #d5a870;
    border: 1px solid #d5a870;
    text-decoration: none;
  }
}

.button-search-logo {
  text-decoration: none;
  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

.button-return-shop {
  margin-bottom: 0.5em;
  text-decoration: none;
  margin-top: 50px;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 50px;
  background: #d5a870;
  color: white;
  transition: 0.5s background ease;

  &:hover {
    text-decoration: none;
    background: #d29961;
    color: white;
  }
}

.button-order {
  text-decoration: none;
  min-width: 200px;
  background: #D6AB75;
  color: white;
  border: 1px solid #D6AB75;
  border-radius: 2px;
  transition: 0.5s color ease;
  transition: 0.5s background ease;

  &:hover {
    background: white;
    color: #D6AB75;
    border: 1px solid #D6AB75;
  }

  &:focus {
    outline: none;
  }
}

.button-order-suivis {
  text-decoration: none;
  min-width: 200px;
  background: grey;
  color: white;
  border: 1px solid grey;
  border-radius: 2px;
  transition: 0.5s color ease;
  transition: 0.5s background ease;

  &:hover {
    background: white;
    color: grey;
    border: 1px solid grey;
  }

  &:focus {
    outline: none;
  }
}

// NAVBAR LINKS //
.dropdown-toggle {
  &:after {
    display: none;
  }

  &:focus {
    color: white;
  }
}

.far .fa-user {
  :before {
    color: white;
  }
}