.background-cart {
    height: -o-calc(100vh - 65px);
    height: -webkit-calc(100vh - 65px);
    height: -moz-calc(100vh - 65px);
    background: #EFEFEF;
}

.header-cart {
    margin-top: 50px;
    font-size: 32px;
}

.count-of-product {
    margin-left: 25px;
    font-size: 16px;
    background: #CEA978;
    color: white;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 0;
    width: 32px;
    height: 32px;
}

.card-product-cart {
    margin-top: 1px;
    width: 800px;
    background: #F8F8F8;
}

.info-product-in-cart {
    padding-top: 20px;
    min-width: 70%;
}

.artist-name-cart {
    font-size: 14px;
    opacity: 0.5;
}

.title-product-cart {
    font-size: 20px;
}

.checkbox {
    opacity: 0.8;
    margin-bottom: 0;
}

[type="checkbox"] {
    vertical-align: middle;
    width: 20px;
    height: 20px;

    &:focus {
        background: #D5A870;
    }
}

.input-check {
    vertical-align: -3px;
    position: relative;
}

.font-12 {
    font-size: 12px;
    margin: 0;
}

.cart-price-product {
    font-size: 24px;
    color: #D5A870;
}

.div-price-cart {
    padding-top: 20px;
    width: 100px;
}

.icone-cart {
    font-size: 22px;
    padding-top: 20px;
}

.button-like-cart {
    font-size: 22px;
}

.info-in-my-cart {
    padding: 50px 20px 20px 50px;
    width: 100%;
}

.check-pad {
    position: relative;
    bottom: -50px;
}

.panier-total {
    background: #393939;
    width: 300px;
    height: 100%;
    padding: 30px;
    color: white;
    // position: fixed;
    // right: 165px;
}

.price-total-cart {
    font-size: 32px;
}

.cart-livraison {
    color: #9a9a9a;
}

.lt-product {
    text-decoration: none;
    color: black;
    transition: 0.2s color ease;

    &:hover {
        color: #D5A870;
        text-decoration: none;
        ;
    }
}