.background-cart {
  min-height: calc(100vh - 120px);
  background: #efefef;
}

.header-cart {
  margin-top: 50px;
  font-size: 32px;
  margin-left: 16px;
}

.flex-cart {
  display: flex;
  justify-content: space-around;
  margin-top: 48px;
  padding: 0 15px;
}

.flex-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.count-of-product {
  margin-left: 25px;
  font-size: 16px;
  background: #cea978;
  color: white;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 0;
  width: 32px;
  height: 32px;
}

.font-24 {
  font-size: 32px;
}

.card-product-cart {
  margin-top: 1px;
  width: auto;
  height: auto;
  background: #f8f8f8;
  border-radius: 4px;
}

.card-product-order {
  margin-top: 1px;
  width: auto;
  background: #f8f8f8;
  border-radius: 4px;
}

.info-product-in-cart {
  padding-top: 20px;
  min-width: 60%;
}

.artist-name-cart {
  font-size: 14px;
  opacity: 0.5;
}

.title-product-cart {
  font-size: 20px;
}

.checkbox {
  opacity: 0.8;
  margin-bottom: 0;
}

[type="checkbox"] {
  vertical-align: middle;
  width: 20px;
  height: 20px;

  &:focus {
    background: #d5a870;
  }
}

.input-check {
  vertical-align: -3px;
  position: relative;
}

.box-card-dflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.font-12 {
  font-size: 12px;
  margin: 0;
}

.recap {
  margin: auto;
}

.cart-price-product {
  font-size: 24px;
  color: #d5a870;
}

.d-flex-info-banner-order {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.d-flex-columnn {
  display: flex;
  flex-direction: column;
}

.cart-price-product-order {
  font-size: 24px;
  color: #d5a870;
}

.div-price-cart {
  padding-top: 20px;
}

.div-price-pay {
  padding-top: 20px;
  width: 20%;
}

.icone-cart {
  font-size: 22px;
  padding-top: 20px;
}

.link-who {
  text-decoration: none;
  opacity: 0.8;
  transition: 0.5s ease opacity;
  color: #D5A870;

  &:hover {
    text-decoration: none;
    opacity: 1;
    color: #D5A870;
  }

  &:focus {
    text-decoration: none;
  }
}

.button-like-cart {
  font-size: 22px;
}

.info-in-my-cart {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  width: 100%;
  min-height: 150px;
}

.info-in-my-order-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  width: 100%;
  min-height: 150px;
}

.check-pad {
  position: relative;
  bottom: -50px;
}

.test-00 {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.panier-total {
  background: #393939;
  width: 300px;
  height: auto;
  padding: 30px;
  color: white;
  border-radius: 4px;
  // position: fixed;
  // right: 165px;
}

.price-total-cart {
  font-size: 32px;
}

.cart-livraison {
  color: #9a9a9a;
}

.lt-product {
  text-decoration: none;
  color: black;
  transition: 0.2s color ease;
  width: 100%;

  &:hover {
    color: #d5a870;
    text-decoration: none;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.width-propos {
  height: 173px;
}