.card-product {
  transform: scale(1);
  margin-top: 50px;
  min-width: 302px;
  border: 1px solid transparent;
  transition-property: transform;

  img {
    transition-property: transform;
    transition-duration: 0.5s;
    transform: scale(1);
    width: 300px;
    border-radius: 2px;
    height: auto;
    vertical-align: middle;
  }

  &:hover img {
    transition-duration: 0.5s;
    transform: scale(0.95);
  }

  &:hover .btn-heart-index {
    transition: 0.5s display ease;
  }
}

.width-700 {
  width: 700px;
}

.card-body {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0px;
}

.card-title {
  font-size: 16px;
  margin-bottom: 0;
}

.category {
  opacity: 0.8;
  color: black;
  font-size: 14px;
  margin: 0;
}

.price {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.test {
  padding: 50px;
  min-height: 500px;
  background: #2F2F2F;
  width: 100%;
}

.name-product-other {
  font-size: 12px;
  color: white;
  margin-left: 15px;
}

.other-product-artist {
  color: white;
  font-size: 26px;
  margin-left: 150px;
}

.other-product-div img {
  border: 2px solid black;
  width: 250px;
  height: auto;
  transition: 0.3s transform ease;

  &:hover {
    transform: scale(0.95);
  }
}

.block {
  height: 1150px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 150px;
}

.livraison {
  font-size: 16px;
}

.livraison-icon {
  font-size: 40px;
}

.citation {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.info-price {
  font-size: 12px;
  margin-bottom: 5px;
}

.icone-info-price {
  border-radius: 50%;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #878787;
  background-color: #EBEBEB;
  transition: 0.5s color ease;
  transition: 0.5s background-color ease;

  &:hover {
    background-color: #d5a870;
    color: white;
  }
}

.icone-info-artist {
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 30px;
  text-decoration: none;
  color: #878787;
  background-color: #EBEBEB;
  transition: 0.5s color ease;
  transition: 0.5s background-color ease;

  &:hover {
    background-color: #d5a870;
    color: white;
  }
}

.info-product {
  position: absolute;
  right: 0;
  width: 460px;
  height: 1150px;
  padding: 20px;
  padding-right: 100px;
  border: 1px solid transparent;
  border-radius: 2px;
  background: #F8F8F8;
}

.gold {
  color: #d5a870;
}

.section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.pd-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.price-show {
  font-size: 40px;
}

.name-product {
  font-weight: bold;
  font-style: italic;
  font-size: 23px;
}

.name-artist {
  font-size: 17px;
}

.year {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.cart-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.cart-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.cart-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.cart-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.cart-product .cart-product-infos {
  padding: 16px;
  width: 100%;
  height: 100%;
}

.form-style-product {
  width: 100%;
}