.footer {
  background: #000000;
  color: white;
  max-width: 100%;
  min-height: 200px;
}

.footer-grey {
  background: #232323;
  color: white;
  max-width: 100%;
  height: auto;
  height: auto;
}

.footer-services {
  width: auto;
}

.font-42 {
  font-size: 72px;
}

.font-80 {
  font-size: 80px;
}

.grey-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.box-pay {
  height: auto;
  display: flex;
  justify-content: space-around;
}

.section-white {
  width: 100%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 15px;

  padding-top: 20px;
}

.rubrique {
  display: flex;
  justify-content: space-between;
}

.link-footer {
  text-decoration: none;
  font-size: 20px;
  text-decoration: none;
  color: #a7a7a7;
  margin-left: 10px;
  transition: 0.5s color ease;

  &:hover {
    text-decoration: none;
    color: #d5a870;
  }
}

.font-14 {
  font-size: 14px;
}

.info-footer {
  width: 100%;
}

.img-footer {
  font-size: 40px;
  text-decoration: none;
  margin-right: 200px;
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.follow {
  display: flex;
  align-items: center;
}

.flex-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 775px) {
  .grey-box {
    padding-top: 1rem;
  }

  .rubrique {
    display: flex;
    justify-content: center;
  }

  .cb {
    text-align: center;
  }

  .font-42 {
    font-size: 30px;
  }

  .font-80 {
    font-size: 40px;
  }

  .box-pay h5 {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .rubrique h4 {
    font-size: 20px;
  }

  .rubrique {
    flex-direction: column;
  }

  .box-pay {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cb {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
  }

  .follow {
    display: flex;
    justify-content: center;
  }
}