.footer {
    background: #000000;
    color: white;
    width: 100%;
    min-height: 200px;
}

.footer-grey {
    background: #232323;
    color: white;
    width: 100%;
    min-height: 200px;
    height: auto;
}

.font-42 {
    font-size: 72px;
}

.font-80 {
    font-size: 80px;
}

.grey-box {
    height: auto;
}

.box-pay {
    height: auto;
}

.section-white {
    width: 100%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.link-footer {
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
    color: #a7a7a7;
    margin-left: 10px;
    transition: 0.5s color ease;

    &:hover {
        text-decoration: none;
        color: #d5a870;
    }
}

.font-14 {
    font-size: 14px;
}

.info-footer {
    width: 100%;
}

.img-footer {
    font-size: 40px;
    text-decoration: none;
    margin-right: 200px;
    color: white;

    &:hover {
        text-decoration: none;
        color: white;
    }
}

.flex-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}