.image-show-product {
    width: 700px;
    height: auto;
}

.img-artist {
    width: 295px;
    height: auto;
}

.image-other-product {
    height: 225px;
    width: auto;
    border: 2px solid black;
    border-radius: 4px;
}