.image-show-product {
    width: 700px;
    height: auto;
}

.img-artist {
    width: 295px;
    height: auto;
}

.image-other-product {
    height: 225px;
    width: auto;
    border: 2px solid black;
    border-radius: 4px;
}

.image-cart {
    border: 1px solid #EFEFEF;
    margin: 20px;
    max-width: 150px;
    height: auto;
}

.img-cart-paiement {
    width: 100%;
    height: auto;
}