.image-show-product {
    width: auto;
    max-width: 650px;
    height: 550px;
    object-fit: cover;
}

.img-artist {
    width: 295px;
    height: auto;
}

.image-other-product {
    height: auto;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
}

.image-cart {
    border: 1px solid #EFEFEF;
    margin: 20px;
    max-width: 150px;
    height: auto;
}

.image-order {
    border: 1px solid #EFEFEF;
    margin: 20px;
    max-width: 75px;
    height: auto;
}

.img-cart-paiement {
    width: 100%;
    height: auto;
}

.div-home-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1545144760-f44b51664396?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2252&q=80');
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 100vw;
    color: white;
}

.div-who-img {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.unsplash.com/photo-1460661419201-fd4cecdf8a8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80');
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100vw;
    color: white;
}

.div-home-img-sec {
    background-color: #E8EBF4;
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100vw;
    color: black;
    object-fit: cover;
}

.img-who {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

div-home-who-sec {
    background-color: #E8EBF4;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    width: 100vw;
    color: black;
    object-fit: cover;
}

.img-sec {
    height: 40vh;
    width: auto;
    object-fit: cover;
}

.grey-color {
    color: #5D5D5D;
    font-size: 18px;
}

.font-422 {
    font-size: 42px;
    font-weight: bold;
}

.cadre-dark {
    padding: 40px 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.home-image {
    height: 200px;
    width: auto;
    object-fit: cover;
}

.bloc-text-banner {
    max-width: 500px;
    margin: auto;
}