body {
    @media only screen and (max-width: 2100px) {
        .flex-product {
            justify-content: start;
        }

    }

    @media only screen and (max-width: 1800px) {
        .info-product {
            min-width: 500px;
        }

    }

    @media only screen and (max-width: 1550px) {
        .back-product {
            width: 32%;
        }

        .info-product {
            width: 80%;
            min-width: 80%;
            padding: 0;
        }

        .width-700 {
            width: 45vw;
        }
    }

    @media only screen and (max-width: 1199px) {
        .panier-total {
            margin: auto;
            width: 60%;
        }

        .card-product-cart {
            width: auto;
        }

        .icone-none {
            display: none;
        }

        .info-product {
            padding-top: 0;
            padding-bottom: 0;
            background-color: bleu;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .section-none {
            border-bottom: none;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 0;
        }

        .margin-bottom-5 {
            margin-bottom: 0;
        }

        .width-propos {
            height: auto;
        }

        .info-price {
            font-size: 16px;
            text-align: center;
        }

        .price-show {
            font-size: 40px;
            text-align: center;
            margin-bottom: 0px;
        }

        .livraison {
            font-size: 16px;
            text-align: center;
        }

        .info-product {
            position: static;
            width: 100%;
            right: 0px;
        }

        .back-product {
            background: none;
            position: static;
            width: 100%;
            height: auto;
        }

        .info-product {
            position: static;
            padding: 20px;
            padding-right: 20px;
            width: 100%;
            max-width: 100%;
            right: 0px;
        }

        .image-show-product {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .width-700 {
            width: 100%;
        }

        .flex-cart {
            flex-direction: column;
        }

        .info-product-in-cart {
            max-width: 50%;
        }

        .flex-columnn {
            flex-direction: column;
        }
    }

    @media only screen and (max-width: 1050px) {
        .img-sec {
            width: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        }

        .box-card-dflex {
            display: block;
        }

        .bloc-text-banner {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            bottom: 10px;
            left: 0;
            right: 0;
            text-align: center;
            width: auto;
        }

        .font-24 {
            font-size: 24px;
        }

        .font-422 {
            font-size: 32px;
        }

        .text-h4 {
            font-size: 20px;
        }
    }

    @media only screen and (max-width: 991px) {
        .align-item-title {
            display: block;
            margin-left: 0px;
            padding-top: 1rem;
        }

        .title-flex-div {
            display: block;
            text-align: center;
        }

        .card-product-home {
            padding-bottom: 10px;
            margin-top: 15px;
        }

        .navbar-flex {
            display: block;
            justify-content: flex-start;
        }

        .navbar-collapse {
            background-color: #212121;
        }

        .margin-nav {
            margin: 0px 0px 0px 10px;
        }

        .img-footer {
            display: none;
        }

        .button-add {
            position: absolute;
            top: 100px;
        }



        .list-of-btn {
            // display: none;

        }

        .block-order {
            width: 100%;
        }

        .order-product-title {
            min-width: 70%;
            margin-right: 20px;
        }

        .info-in-my-order {
            width: 100%;
        }

        .image-show-product {
            width: 600px;
            height: 500px;
        }
    }

    @media only screen and (max-width: 775px) {
        .image-show-product {
            width: 400px;
            height: 300px;
        }

        .card-product-cart {
            width: auto;
            height: auto;
        }

        .card-product-cart img {
            max-width: 60px;
            max-height: 60px;
            object-fit: cover;
            margin-right: 0;
        }

        .info-product-in-cart {
            padding-top: 0;
            min-width: auto;
        }

        .div-price-cart {
            padding-top: 0;
            padding-left: 25px;
        }

        .info-in-my-cart {
            width: 100%;
            justify-content: space-between;
        }

    }

    @media only screen and (max-width: 535px) {
        .d-flex-info-banner-order {
            flex-direction: column;
            align-items: flex-start;
        }

        .flex-order {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center
        }

        .d-flex-columnn {
            flex-direction: row;
        }

        .hide {
            display: none;
        }

        .header-cart {
            text-align: center;
        }

        .button-add {
            top: 0;
            left: 0;
        }

        .info-in-my-cart {
            position: relative;
        }

        .cart-price-product {
            position: absolute;
            bottom: 3px;
            left: 25px;
        }

        .prix-titre {
            display: none;
        }

        // .poubelle {
        //     position: absolute;
        //     bottom: 16px;
        //     right: 20px;
        // }

        // .coeur {
        //     position: absolute;
        //     bottom: 16px;
        //     right: 60px;
        // }

        .image-show-product {
            width: 300px;
            height: 200px;
        }

        .button-add {
            position: relative;
            top: -10px;
            right: -240px;
        }

        .flex-footer {
            display: block;
        }

        .cadre-dark {
            padding: 10px;
        }

        .font-24 {
            font-size: 20px;
        }

        .font-422 {
            font-size: 24px;
        }

        .text-h4 {
            font-size: 16px;
        }

        .flex-section {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .flex-section .button-return-shopp {
            display: none;
        }

        .header-cart {
            margin-left: 0;
        }
    }

    @media only screen and (max-width: 420px) {
        .panier-total {
            width: 100%;
        }
    }
}