.navbar {
  background: #212121;
  height: 120px;
  z-index: 9999;
}

.navbar-flex {
  display: flex;
  justify-content: flex-end;
}

.margin-nav {
  margin: 24px 16px 0px 16px;
}

.logo-css {
  max-height: 200px;
  width: auto;
  object-fit: cover;
}

.logo-css-nav {
  height: 120px;
  width: auto;
  object-fit: cover;
}

.navbar-dark .navbar-nav .nav-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.8s color ease;

  &:hover {
    color: #d29961;
  }

  &:focus {
    color: #d29961;
  }
}

.navbar-dark .navbar-brand {
  color: white;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.8s color ease;

  &:hover {
    color: #d29961;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 1px 1px 3px grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.cart-logo {
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: 0.5s color ease;

  &:hover {
    color: #d29961;
  }

  &:focus {
    color: white;
  }
}

.number-product {
  padding-left: 5px;
  font-size: 16px;
  color: #d5a870;
}

.none {
  display: none;
}

.dis-block {
  display: block;
}

.search-form {}