.navbar {
  background: #212121;
  height: 120px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
  padding-bottom: 0;
  transition: 0.8s color ease;

  &:hover {
    color: #d29961;
    border-bottom: 1px solid #d29961;
  }
}

.navbar-light .navbar-brand {
  color: white;
  font-size: 28px;
  transition: 0.8s color ease;

  &:hover {
    color: #d29961;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 1px 1px 3px grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.cart-logo {
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: 0.5s color ease;

  &:hover {
    color: #d29961;
  }
  &:focus {
    color: white;
  }
}

.number-product {
  padding-left: 5px;
  font-size: 16px;
  color: #d5a870;
}

.search-form {
  display: none;
}
