<div class="container mb-5">
    <div class="row">
        <% @products.each do |product|%>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="card mt-3 rounded" style="width: 18rem;">
                    <img class="card-img-top rounded-top" src="https://cdn1.sklum.com/fr/774532/pack-de-2-chaises-en-velours-glamm.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text"><%= product.price %>€</p>
                    <%= link_to "Go somewhere", product_path(product), class:"btn btn-primary"%>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

